button,
.button,
button:focus-visible,
.button:focus-visible {
	border: none;
	border-radius: 8px;
	width: 16vh;
	height: 8vh;
	font-size: 5vh;
	font-family: "Noto Serif Hebrew", serif;
	font-weight: 700;
	background-color: var(--color--accent);
	color: var(--color--text--light);
	cursor: pointer;
}
button:active,
.button:active {
	opacity: 0.8;
}
button.disabled,
.button.disabled {
	background-color: var(--color--gray--medium) !important;
	color: var(--color--gray--light) !important;
	pointer-events: none;
}
