button {
	border: none;
	border-radius: 4px;
	width: 12vh;
	height: 6vh;
	font-size: 3vh;
	font-family: "Noto Serif Hebrew", serif;
	font-weight: 700;
	background-color: var(--color--blue);
	color: var(--color--cream--light);
	cursor: pointer;
}
button:hover,
button:focus-visible {
	outline: none;
	opacity: 0.95;
}
button:active {
	opacity: 0.9;
}
button.disabled {
	background-color: var(--color--gray--medium) !important;
	color: var(--color--gray--light) !important;
	pointer-events: none;
}
