:root {
	--color--gray--lightest: #eee;
	--color--gray--lighter: #ccc;
	--color--gray--light: #aaa;
	--color--gray--medium: #888;
	--color--gray--dark: #666;
	--color--gray--darker: #444;
	--color--gray--darkest: #222;
	--color--cream--light: #eae8dd;
	--color--cream--dark: #e1dece;

	--color--blue--light: #006fd9;
	--color--blue: #005EB8;
	--color--blue--dark: #002f5c;

	--color--red: #a44;

	--color--link: var(--color--blue);

}
