:root {
	--main-width: 100vw;
	--main-height: 100vh;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--color--body);
	color: var(--color--text--dark);
	font-family: var(--font-family--default);
	font-size: 1.6rem;
	user-select: none;
	animation: fade-in-animation 1s;
}
.background {
	position: absolute;
	inset: 0;
}
.wrapper {
	position: absolute;
	inset: 0;
	overflow: hidden;
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: 1fr;
}
main {
	height: 85vh;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}
.image-panel {
	display: flex;
	align-items: center;
	padding: 5vh;
}
.image {
	height: 75vh;
	max-width: 75vw;
	box-shadow: 8px 8px 8px 4px #666;
	transform: rotateZ(-2deg);
}
.action-panel {
	padding: 3vh;
	text-align: center;
}
.year-selector {
	width: 100%;
}
.year-selector:focus-visible {
	outline: none;
	opacity: 0.9;
}
.submit-button,
.reload-button {
	margin-top: 3vh;
}
body[data-phase="user-guess"] .submit-button {
	pointer-events: auto;
}
body[data-phase="failure"] .submit-button,
body[data-phase="success"] .submit-button {
	display: none;
}
.reload-button {
	background-color: var(--color--gray--lightest);
	color: var(--color--gray--darkest);
	pointer-events: auto;
	display: none;
}
body[data-phase="failure"] .reload-button,
body[data-phase="success"] .reload-button {
	display: block;
}
.answer {
	display: none;
	place-items: center;
	font-weight: 700;
	opacity: 0;
}
