:root {
	--w: 100vw;
	--h: 100vh;
}
html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
	height: var(--h);
	overflow: hidden;
	font-size: 1.6rem;
	font-family: var(--font-family--sans);
	background-color: var(--color--cream--light);
	color: var(--color--gray--darkest);
	user-select: none;
	animation: fade-in-animation 1s;
}
.background {
	position: absolute;
	inset: 0;
	height: var(--h);
}
.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: var(--h);
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
header {
	flex: 0 0 calc(var(--h) * 0.1);
	overflow: hidden;
	display: flex;
	align-items: center;
	background-color: var(--color--cream--dark);
}
.header-text {
	margin-right: calc(var(--h) * 0.02);
	font-size: calc(var(--h) * 0.06);
	font-family: var(--font-family--serif);
	font-weight: 900;
	color: var(--color--blue);
	white-space: nowrap;
}
main {
	flex: 1 1 auto;
	height: calc(var(--h) * 0.85);
	padding: calc(var(--h) * 0.05);
	overflow: hidden;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr;
}
.image-panel {
	display: flex;
	align-items: center;
}
.image {
	display: none;
	height: calc(var(--h) * 0.75);
	box-shadow: 8px 8px 8px 4px #666;
	transform: rotateZ(-2deg);
}
body[data-phase="user-guess"] .image,
body[data-phase="show-answer"] .image {
	display: inline-block;
}
.action-panel {
	max-width: calc(var(--w) * 0.5);
	padding: calc(var(--h) * 0.01) calc(var(--h) * 0.06) 0 0;
	text-align: center;
	overflow: hidden;
}
.submit-button {
	display: none;
	animation: fade-in-animation 1s;
}
body[data-phase="user-guess"] .submit-button {
	display: inline-block;
}
.year-selector {
	display: none;
	margin-top: calc(var(--h) * 0.06);
	width: 100%;
	animation: fade-in-animation 1s;
}
body[data-phase="user-guess"] .year-selector {
	display: inline-block;
}
.year-selector:focus-visible {
	outline: none;
	opacity: 0.9;
}
.answer {
	display: none;
	text-align: right;
	max-height: calc(var(--h) * 0.66);
	overflow: hidden;
}
body[data-phase="show-answer"] .answer {
	display: block;
	animation: fade-in-animation 1s;
}
.answer-year {
	display: inline;
	color: var(--color--red);
	font-family: var(--font-family--serif);
	font-size: calc(var(--h) * 0.04);
	font-weight: 900;
}
.answer-title {
	display: inline;
	color: var(--color--gray--darker);
	font-family: var(--font-family--serif);
	font-size: calc(var(--h) * 0.03);
	font-weight: 900;
}
.answer-info {
	color: var(--color--gray--darkest);
	font-size: calc(var(--h) * 0.018);
	text-align: justify;
}
.answer-info-section {}
.answer-link {
	display: inline-block;
	font-size: calc(var(--h) * 0.018);
	text-decoration: none;
	color: var(--color--blue);
}
.answer-link:hover,
.answer-link:focus-visible {
	outline: none;
	opacity: 0.95;
}
.next-button {
	display: none;
	margin-top: calc(var(--h) * 0.02);
	animation: fade-in-animation 1s;
}
body[data-phase="show-answer"] .next-button {
	display: inline-block;
}
footer {
	flex: 0 0 calc(var(--h) * 0.05);
	overflow: hidden;
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: var(--color--cream--dark);
}
.footer-text {
	margin-left: calc(var(--h) * 0.01);
	font-size: calc(var(--h) * 0.03);
	font-family: var(--font-family--serif);
	font-weight: 900;
	color: var(--color--blue);
	white-space: nowrap;
}
