:root {
	--main-width: 100vw;
	--main-height: 100vh;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--color--cream--light);
	color: var(--color--gray--darkest);
	font-family: var(--font-family--default);
	font-size: 1.6rem;
	user-select: none;
	animation: fade-in-animation 1s;
}
.background {
	position: absolute;
	inset: 0;
}
.wrapper {
	position: absolute;
	inset: 0;
	overflow: hidden;
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: 1fr;
}
main {
	height: 85vh;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}
.image-panel {
	display: flex;
	align-items: center;
	padding: 5vh;
}
.image {
	display: none;
	height: 75vh;
	max-width: 75vw;
	box-shadow: 8px 8px 8px 4px #666;
	transform: rotateZ(-2deg);
}
body[data-phase="user-guess"] .image,
body[data-phase="show-answer"] .image {
	display: inline-block;
}
.action-panel {
	padding: 6vh 2vh 0 5vh;
	text-align: center;
}
.year-selector {
	display: none;
	width: 100%;
	animation: fade-in-animation 1s;
}
body[data-phase="user-guess"] .year-selector {
	display: inline-block;
}
.year-selector:focus-visible {
	outline: none;
	opacity: 0.9;
}
.submit-button {
	display: none;
	margin-top: 3vh;
	animation: fade-in-animation 1s;
}
body[data-phase="user-guess"] .submit-button {
	display: inline-block;
}
.answer {
	display: none;
	text-align: right;
}
body[data-phase="show-answer"] .answer {
	display: block;
	animation: fade-in-animation 1s;
}
.answer-year {
	display: inline;
	color: var(--color--red);
	font-size: 4vh;
	font-weight: 900;
}
.answer-title {
	display: inline;
	font-size: 3vh;
	font-weight: 900;
}
.answer-info {
	font-size: 2vh;
	text-align: justify;
}
.answer-info-section {}
.next-button {
	display: none;
	margin-top: 3vh;
	animation: fade-in-animation 1s;
}
body[data-phase="show-answer"] .next-button {
	display: inline-block;
}

